{% if categories is not empty %}
    <aside class="info_categories_block">
        {% block info_categories_box %}
            {% for category in categories %}
                {% block info_item %}
                    <section class="category_item {{ loop.first ? 'first' }}">
                        {% block info_item_content %}
                            {% block info_category_title %}
                                <a class="category_title" href="{{ path('information_category_page', {'slug': category.category}) }}">{{ category.category.name }}</a>
                            {% endblock info_category_title %}

                            {% for article in category.articles %}
                                <article class="item {{ loop.first ? 'first' }}">
                                    {% block info_category_item %}
                                        {% block item_title %}
                                            <a class="title" href="{{ path('information_page', {'slug': article}) }}">{{ article.title }}</a>
                                        {% endblock item_title %}

                                        {% block item_image_block %}
                                            {% if article.image is defined and article.image is not empty %}
                                                {% block item_image %}
                                                    <a class="image" href="{{ path('information_page', {'slug': article}) }}">
                                                        <img src="{{ article.image|default('images/no_image.jpg')|imagine_filter('information_small') }}" alt="{{ article.name }}">
                                                    </a>
                                                {% endblock item_image %}
                                            {% endif %}
                                        {% endblock item_image_block %}

                                        {% block item_shortdesc_block %}
                                            {% if article.shortDescription|striptags|trim is not empty %}
                                                {% block item_shortdesc %}
                                                    <div class="short_desc">
                                                        {{ article.shortDescription|raw }}
                                                    </div>
                                                {% endblock item_shortdesc %}
                                            {% endif %}
                                        {% endblock item_shortdesc_block %}
                                    {% endblock info_category_item %}
                                </article>
                            {% endfor %}
                        {% endblock info_item_content %}
                    </section>
                {% endblock info_item %}
            {% endfor %}
        {% endblock info_categories_box %}
    </aside>
{% endif %}