{% if informations is not empty or (categories is defined and categories is not empty) %}
    {% block menu %}
        <div class="information_menu location_{{ location }}">
            {% block menu_content %}
                {% block information_menu %}
                    {% for information in informations %}
                        {% block info_item %}
                            <a class="{{ (information.cssClass ~ (loop.first ? ' first') ~ (current == information.id ? ' active'))|trim }}" href="{{ path('information_page', {'slug': information}) }}">
                                {{- information -}}
                            </a>
                        {% endblock info_item %}
                    {% endfor %}
                {% endblock information_menu %}
                {% if categories is defined %}
                    {% block category_menu %}
                        {% for category in categories %}
                            {% block category_item %}
                                <a class="category{{ current == category.id ? ' active' }}" href="{{ path('information_category_page', {'slug': category}) }}">
                                    {{- category -}}
                                </a>
                            {% endblock category_item %}
                        {% endfor %}
                    {% endblock category_menu %}
                {% endif %}
            {% endblock menu_content %}
        </div>
    {% endblock menu %}
{% endif %}