{% extends "::base.html.twig" %}

{% trans_default_domain "NitraInformationBundle" %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'info', 'requestUri': app.request.requestUri, 'object': category, 'page': 'information_category_page'}) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'requestUri': app.request.requestUri, 'object': category, 'page': 'information_category_page'}) %}
{% endblock main_seotext %}

{% block breadscrumbs %}
    {{ breadcrumbs(category) }}
{% endblock breadscrumbs %}

{% block content_class "information_category_page" %}

{% block content %}
    {% block info_category_page %}
        {% block info_category_title %}
            <h1>{{ category.name }}</h1>
        {% endblock info_category_title %}

        {% block info_category_page_list %}
            {% include "NitraInformationBundle:Information:informationList.html.twig" %}
        {% endblock info_category_page_list %}

        {% block pagination_bottom %}
            <div class="pagination_bottom">
                {{ knp_pagination_render(informations)|raw }}
            </div>
        {% endblock pagination_bottom %}
   {% endblock info_category_page %}
{% endblock content %}