{% trans_default_domain "NitraInformationBundle" %}

{% block info_category_list_box %}
    <div class="information_list">
        {% for information in informations %}
            {% block info_category_list_item %}
                <article class="item">
                    {% block info_category_item %}
                        {% block item_image %}
                            <a class="image" href="{{ path('information_page', {'slug': information}) }}">
                                <img src="{{ information.image|default("images/no_image.jpg")|imagine_filter('information_medium') }}" alt="{{ information.name }}">
                            </a>
                        {% endblock item_image %}

                        {% block item_text_block %}
                            <div class="text_block">
                                {% block item_title %}
                                    <h2 class="title" >
                                        <a href="{{ path('information_page', {'slug': information}) }}">{{ information.title }}</a>
                                    </h2>
                                {% endblock item_title %}

                                {% block item_date %}
                                    <span class="date">
                                        {{- information.createdAt|localizeddate('medium', 'none', app.request.locale) -}}
                                    </span>
                                {% endblock item_date %}

                                {% block item_shortdesc_block %}
                                    {% if information.shortDescription|striptags|trim is not empty %}
                                        {% block item_text %}
                                            <div class="short_desc">
                                                {{ information.shortDescription|raw }}
                                            </div>
                                        {% endblock item_text %}
                                    {% endif %}
                                {% endblock item_shortdesc_block %}

                                {% block item_more %}
                                    <a class="read_more" href="{{ path('information_page', {'slug': information}) }}">{{ 'information.read_more'|trans }}</a>
                                {% endblock item_more %}
                            </div>
                        {% endblock item_text_block %}
                    {% endblock info_category_item %}
                </article>
            {% endblock info_category_list_item %}
        {% endfor %}
    </div>
{% endblock info_category_list_box %}