{% block articles %}
    <div class="articles_category_block">
        {% for article in articles %}
            {% block article %}
                <article class="item {{ loop.first ? 'first' }}">
                    {% block info_category_item %}
                        {% block item_title %}
                            <a class="title" href="{{ path('information_page', {'slug': article}) }}">{{ article.title }}</a>
                        {% endblock item_title %}

                        {% block item_image_block %}
                            {% if article.image is defined and article.image is not empty %}
                                {% block item_image %}
                                    <a class="image" href="{{ path('information_page', {'slug': article}) }}">
                                        <img src="{{ article.image|default('images/no_image.jpg')|imagine_filter(imageFilter) }}" alt="{{ article.name }}">
                                    </a>
                                {% endblock item_image %}
                            {% endif %}
                        {% endblock item_image_block %}

                        {% block item_shortdesc_block %}
                            {% if article.shortDescription|striptags|trim is not empty %}
                                {% block item_shortdesc %}
                                    <div class="short_desc">
                                        {{ article.shortDescription|raw }}
                                    </div>
                                {% endblock item_shortdesc %}
                            {% endif %}
                        {% endblock item_shortdesc_block %}
                    {% endblock info_category_item %}
                </article>
            {% endblock article %}
        {% endfor %}
    </div>
{% endblock articles %}