{% extends "::base.html.twig" %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'info', 'requestUri': app.request.requestUri, 'object': information, 'page': 'information_page'}) %}
{% endblock meta_info%}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'requestUri': app.request.requestUri, 'object': information, 'page': 'information_page'}) %}
{% endblock main_seotext %}

{% block breadscrumbs %}
    {{ breadcrumbs(information) }}
{% endblock breadscrumbs %}

{% block content %}
    <article class="information_page">
        {% block info_page %}
            {% block info_title %}
                <h1>{{ information.title }}</h1>
            {% endblock info_title %}

            {% block info_text_block %}
                {% block info_image_block %}
                    {% if information.image is defined and information.image is not empty %}
                        {% block info_image %}
                            <figure>
                                <img src="{{ information.image|imagine_filter('information_big') }}" alt="{{ information.name }}">
                            </figure>
                        {% endblock info_image %}
                    {% endif %}
                {% endblock info_image_block %}

                {% block info_text %}
                    {{ information.description|raw }}
                {% endblock info_text %}
            {% endblock info_text_block %}
        {% endblock info_page %}
    </article>
{% endblock content %}